/* all */

* {
  box-sizing: border-box;
}

.navbar-brand img {
  width: 130px;
  height: 28.1px;
}

.navbar-toggler {
  border: none;
}
.btn-outline-success {
  background-color: green;
}
.btn-outline-success img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.navbar .button button {
  max-height: 35px;
}
.nextbox .noidung img {
  width: 50px;
  height: 50px;
}

.nextbox .noidung .box {
  width: 380px;
  height: 145px;
}

.nextbox .noidung .box {
}
.content .boxphai img {
  width: 100%;
  height: auto;
}

.nextbox2 .boxtrai2 a {
  text-decoration: none;
}
.boxphai2 .list-group img {
  max-width: 300px;
}
.list-group-item-action:hover {
  cursor: pointer;
}
.subcribe {
  background-size: cover;
  background-position: center;
  background-image: url(./img/subscribe.jpg);
}

a {
  text-decoration: none;
}
.blur-filter {
  background-color: #cccccc00;
  backdrop-filter: blur(8px);
}
.chabietadattengi {
  background-size: cover;
  background-position: center;
  background-image: url(./img/subscribe.jpg);
}

.blur {
  background-color: rgba(255, 255, 255, 0.29);
  backdrop-filter: blur(8px);
}
.custom-breadcrumb {
  --bs-breadcrumb-divider: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><path d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/></svg>");
}
